/backend/venv/
backend/**/__pycache__/
/interface/node_modules/
/.vscode
# Ignore cache dir for torch and huggingface models
/.cache

# Ignore yarn packages
interface/.yarn/*
!/interface/.yarn/cache
!/interface/.yarn/patches
!/interface/.yarn/plugins
!/interface/.yarn/releases
!/interface/.yarn/sdks
!/interface/.yarn/versions
