html {
    height: 100%;
}

body {
    min-height: 100%;
}

#root {
    height: 100vh;
    background-color: #f6f6ef;
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: row;
}

.box {
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
}

